<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 마이바티스 설정 -->
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25" />
		<setting name="safeRowBoundsEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="localCacheScope" value="SESSION" />
		<setting name="jdbcTypeForNull" value="OTHER" />
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
	</settings>

	<!-- 타입 별칭 설정 -->
	<typeAliases>
		<!-- DTO -->
		<typeAlias type="com.djunderworld.jstay.common.dto.HouseDto"
			alias="HouseDto"></typeAlias>

		<!-- DAO -->
		<typeAlias type="com.djunderworld.jstay.common.dao.HouseUser"
			alias="HouseUser"></typeAlias>

		<typeAlias type="com.djunderworld.jstay.common.dao.Review"
			alias="Review"></typeAlias>

		<typeAlias type="com.djunderworld.jstay.common.dao.User"
			alias="User"></typeAlias>

		<typeAlias type="com.djunderworld.jstay.common.dao.Behavior"
			alias="Behavior"></typeAlias>

		<typeAlias type="com.djunderworld.jstay.common.dao.FirebaseNotification"
			alias="FirebaseNotification"></typeAlias>

		<typeAlias type="com.djunderworld.jstay.common.dao.ReviewTag"
			alias="ReviewTag"></typeAlias>

		<typeAlias type="com.djunderworld.jstay.common.dao.UserNotification"
			alias="UserNotification"></typeAlias>

		<typeAlias type="com.djunderworld.jstay.common.dao.ReviewComment"
			alias="ReviewComment"></typeAlias>

	</typeAliases>

	<mappers>
		<!-- 공통 SQL 경로 -->
		<mapper resource="common/CommonSQL.xml" />

		<!-- 매퍼 경로 -->
		<mapper resource="app/HouseMapper.xml" />
		<mapper resource="app/HouseUserMapper.xml" />
		<mapper resource="app/UserMapper.xml" />
		<mapper resource="app/FileMapper.xml" />
		<mapper resource="app/ReviewMapper.xml" />
		<mapper resource="app/ReviewTagMapper.xml" />
		<mapper resource="app/FirebaseNotificationMapper.xml" />
		<mapper resource="app/BehaviorMapper.xml" />
	</mappers>

</configuration>