<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.djunderworld.stm.firebasenotification.service.impl.FirebaseNotificationMapper">
	<!-- Result Map -->
	<resultMap id="FirebaseNotificationResult" type="FirebaseNotification">
		<id property="id" column="notification_id" />
		<result property="receiverId" column="notification_receiver_id" />
		<result property="receiverCategoryId" column="notification_receiver_category_id" />
		<result property="content" column="notification_content" />
		<result property="navigationId" column="notification_navigation_id" />
		<result property="navigationCategoryId" column="notification_navigation_category_id" />
		<result property="checked" column="notification_checked" />
		<result property="createdAt" column="notification_created_at" />
		<result property="updatedAt" column="notification_updated_at" />
		
		<association property="user" resultMap="UserResult" />
		<association property="behavior" resultMap="BehaviorResult" />

	</resultMap>
	
	<resultMap id="UserResult" type="User">
		<id property="id" column="user_id" />
		<result property="email" column="user_email" />
		<result property="name" column="user_name" />
		<result property="phone" column="user_phone" />
		<result property="avatar" column="user_avatar" />
		<result property="fcmToken" column="user_fcm_token" />
		<result property="deviceId" column="user_device_id" />
		<result property="loginCategoryId" column="user_login_category_id" />
		<result property="level" column="user_level" />
		<result property="createdAt" column="user_created_at" />
		<result property="updatedAt" column="user_updated_at" />
	</resultMap>
	
	<resultMap id="BehaviorResult" type="Behavior">
		<id property="id" column="behavior_id"/>
		<result property="name" column="behavior_name"/>
		<result property="createdAt" column="behavior_created_at"/>
		<result property="updatedAt" column="behavior_updated_at"/>
	</resultMap>
	
	<!-- SELECT Query -->
	
	
	<!-- INSERT Query -->
	<insert id="saveFirebaseNotification" parameterType="FirebaseNotification" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO firebase_notifications(user_id, receiver_id, receiver_category_id, content, navigation_id, navigation_category_id, behavior_id) 
			VALUES (#{user.id},#{receiverId},#{receiverCategoryId},#{content},#{navigationId},#{navigationCategoryId},#{behavior.id});
	</insert>

	<insert id="saveUserNotificationByfirebaseNotificationIdAndUsers">
		<if test="users.size > 0">
			INSERT INTO user_notifications (user_id, firebase_notification_id) 
				VALUES 
				<foreach collection="users" item="user" separator=",">
					(#{user.id}, #{firebaseNotificationId})
				</foreach>		
		</if>
	</insert>
	
	<!-- UPDATE Query -->
	<update id="updateFirebaseNotification" parameterType="FirebaseNotification">
		update	firebase_notifications
		 	<set>
	      		<if test="checked > 0">	checked	=	#{checked}	</if>
		    </set>
		    where	id	=	#{id}
	</update>
	
	<!-- DELETE Query -->
</mapper>
