<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.djunderworld.jstay.mapper.UserMapper">
	
	<!-- Result Map -->
	<resultMap id="UserResult" type="User">
		<id property="id" column="user_id" />
		<result property="email" column="user_email" />
		<result property="name" column="user_name" />
		<result property="phone" column="user_phone" />
		<result property="avatar" column="user_avatar" />
		<result property="fcmToken" column="user_fcm_token" />
		<result property="deviceId" column="user_device_id" />
		<result property="loginCategoryId" column="user_login_category_id" />
		<result property="level" column="user_level" />
		<result property="createdAt" column="user_created_at" />
		<result property="updatedAt" column="user_updated_at" />
	</resultMap>
	
	<!-- SELECT Query -->
	<select id="getUserById" resultMap="UserResult">
		SELECT	<include refid="com.djunderworld.jstay.engine.db.common.sql.UserColumns">
					<property name="userTableAlias" value="us"/>
					<property name="prefix" value="user_"/>
				</include>
				
				FROM	users	us
						
				where	us.id	=	#{id}
	</select>
	
	<select id="getCheckByEmail" resultType="Boolean">
		<include refid="com.djunderworld.jstay.engine.db.common.sql.selectCount">
			<property name="alias" value="count"/>
		    <property name="table" value="users"/>
		    <property name="column" value="email"/>
		</include> #{email}
		<include refid="com.djunderworld.jstay.engine.db.common.sql.addColumn">
		    <property name="column" value="login_category_id"/> 
		</include> 1
	</select>

	<select id="getUserByEmailAndPassword" resultMap="UserResult">
		SELECT	<include refid="com.djunderworld.jstay.engine.db.common.sql.UserColumns">
					<property name="userTableAlias" value="us"/>
					<property name="prefix" value="user_"/>				
				</include>
				
				FROM	users	us
						
				where	us.email	=	#{email}	and
						us.password	=	#{password};
	</select>
	
	<select id="getFollowersFcmTokenListByHouseId" resultType="User">
		SELECT	us.id	as	id,
				us.fcm_token	as	fcm_token
				
				FROM	users	us,
						house_users	hu
						
				where	hu.user_id	=	us.id	and
						hu.house_id	=	#{houseId}
	</select>

	<!-- INSERT Query -->
	<insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		INSERT	INTO	users (email, password, name, level, fcm_token, device_id, login_category_id) 
			VALUES ( #{email}, #{password}, #{name}, #{level}, #{fcmToken}, #{deviceId}, #{loginCategoryId});
	</insert>
	
	<!-- UPDATE Query -->
	<update id="updateUserById" parameterType="User">
		update	users
			 <set>
		      <if test="password != null">	password	=	#{password},	</if>
		      <if test="name != null">	name	=	#{name},	</if>
		      <if test="phone != null">	phone	=	#{phone},	</if>
		      <if test="avatar != null">	avatar	=	#{avatar},	</if>
		      <if test="level > 0">	level	=	#{level},	</if>
		      <if test="fcmToken != null">	fcm_token	=	#{fcmToken},	</if>
		      <if test="deviceId != null">	device_id	=	#{deviceId}	</if>
		    </set>
		    where	id	=	#{id}
	</update>
</mapper>
